<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salve <%= user.nome %> - Home</title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%- include('navbar') %>
<div class="container-fluid main-content text-center">
    <div class="home-background">
        <div>
            <h1 class="display-4 contorno" style="color: #ffffff;">Salve <%= user.nome %></h1>
            <a class="btn button" href="/admin/operations">Operazioni</a>
        </div>
    </div>
</div>
</body>
</html>
