<!DOCTYPE html>
<html>
<head>
    <title><Nuova Auto></title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>
<div class="container mt-5 main-content">
    <h2>Inserisci le informazioni dell'auto</h2>
    <form action="/cars/newcar" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" required>
        </div>
        <div class="mb-3">
            <label for="modello" class="form-label">Modello</label>
            <input type="text" class="form-control" id="modello" name="modello" required>
        </div>
        <div class="mb-3">
            <label for="prezzo" class="form-label">Prezzo</label>
            <input type="number" class="form-control" id="prezzo" name="prezzo" required>
        </div>
        <div class="mb-3">
            <label for="descrizione" class="form-label">Descrizione</label>
            <textarea id="descrizione" class="form-control" name="descrizione" required></textarea>
        </div>
        <div class="mb-3">
            <label for="image">Immagine</label>
            <input type="file" id="image" name="image" accept="image/jpeg, image/png">
        </div>
        <button type="submit" class="btn button">Aggiungi Auto</button>
    </form>
</div>
</body>
</html>