<!DOCTYPE html>
<html>
<head>
    <title><Aggiungi Carta></title>
    <script src="../../javascripts/logout.js" defer></script>
</head>
<body>
<%-include('navbar')%>
<div class="container mt-5 main-content">
    <h2>Inserisci i dati della carta</h2>
    <form action="/cards/add" method="POST">
        <div class="mb-3">
            <label for="numeroCarta" class="form-label">Numero della carta</label>
            <input type="text" class="form-control" minlength="16" maxlength="16" pattern="[0-9]*" inputmode="numeric" id="numeroCarta" name="cardNumber" placeholder="1111222233334444" required>
        </div>
        <div class="mb-3">
            <label for="nomeTitolare" class="form-label">Nome del titolare</label>
            <input type="text" class="form-control" id="nomeTitolare" placeholder="Nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="cognomeTitolare" class="form-label">Cognome del titolare</label>
            <input type="text" class="form-control" id="cognomeTitolare" placeholder="Cognome" name="cognome" required>
        </div>
        <div class="mb-3">
            <label for="cvv" class="form-label">CVV</label>
            <input type="text" class="form-control" minlength="3" maxlength="3" pattern="[0-9]*" inputmode="numeric" id="cvv" placeholder="123" name="cvv" required>
        </div>
        <div class="mb-3">
            <label for="scadenzaCarta" class="form-label">Scadenza della carta</label>
            <input type="text" class="form-control" id="scadenzaCarta" maxlength="5" placeholder="MM/YY" name="scadenza" required>
        </div>
        <button type="submit" class="btn btn-primary">Salva carta</button>
    </form>
</div>
</body>
</html>