<!DOCTYPE html>
<html>
<head>
    <title><Buonasera></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Esci</a>
        <a class="navbar-brand" href="/cars/showroom">Auto</a>
        <a class="navbar-brand" href="/cars/favourites">Preferiti</a>
    </div>
</nav>
<h1>Home</h1>
<p>Buonasera</p>
</body>
</html>