<!DOCTYPE html>
<html>
<head>
  <title><Buonasera></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
  <li class="nav-item"><a href="/users/login">Login</a></li>
  <li class="nav-item"><a href="/users/register">Registrati</a></li>
</ul>
<h1>Index</h1>
Nuova peugeot 69420
</div>
</body>
</html>
