body {
  font-family: Verdana, sans-serif;
  padding: 50px;
  background-color: #f4f4f4;
  /*background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

/*.container {
  height: 100px;
  margin-top: 100px;
}*/


label {
  display: block;
  margin-bottom: 8px;
}
/*
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
*/
button {
  background: #ff6800;
  color: #fff;
  padding: 10px;
  border-width: thin;
  border-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #fff;
  color: #ff6800;
  border-style: solid;
  border-width: thin;
  border-color: #ff6800;
}

.table {
  table-layout: fixed;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.car-details-container {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-image-container {
  width: 60%;
  height: 50%;
  border: 2px solid #ddd;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

h1 {
  color: #ff6800;
}

a {
  color: #000000;
  cursor: pointer;
}

.card {
  height: 600px;
}

.card img {
  height: 400px;
  object-fit: cover;
}

.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ff6800;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.search {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f9fa;
}

.main-content {
  padding-top: 100px;
}

.carte-card {
  height: 200px;
}

.home-background {
  background-image: url('../images/home-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px;
}

.contorno {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}