body {
  font-family: Verdana, sans-serif;
  padding: 50px;
  background-color: #f4f4f4;
  background-image: url('../images/background.jpg');
  background-size: cover; /* Per adattare l'immagine alla dimensione della finestra del browser */
  background-repeat: no-repeat; /* Per evitare la ripetizione dell'immagine */
}

.container {
  margin-top: 100px;
}


label {
  display: block;
  margin-bottom: 8px;
}
/*
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
*/
button {
  background: #ff6800;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #fff;
  color: #ff6800;
  border-style: solid;
  border-width: thin;
  border-color: #ff6800;
}

.table {
  table-layout: fixed;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.car-details-container {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-image-container {
  width: 60%; /* Imposta la larghezza desiderata */
  height: 50%; /* Imposta l'altezza desiderata */
  border: 2px solid #ddd;
}

.car-image {
  width: 100%; /* L'immagine si adatta alla larghezza del contenitore */
  height: 100%;
  object-fit: scale-down;
}

h1 {
  color: #ff6800;
}

a {
  color: #ffffff;
  cursor: pointer;
}

.card {
  height: 600px; /* Altezza fissa per tutte le card */
}

.card img {
  height: 400px; /* Altezza fissa per le immagini all'interno delle card */
  object-fit: cover; /* Copre l'intera area dell'elemento mantenendo l'aspetto originale dell'immagine */
}

.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Cambia i valori a seconda delle tue preferenze */
  background-color: rgba(255, 255, 255, 0.8);
}

.search {
  padding: 10px; /* Aggiungi spazio interno */
  border: 2px solid #ccc; /* Aggiungi un bordo grigio */
  border-radius: 5px; /* Rendi i bordi più arrotondati */
  font-size: 16px; /* Dimensione del testo */
  background-color: #f8f9fa; /* Colore di sfondo */
}